<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bitizen.counterswipe"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />
    
	<supports-screens android:resizeable="true"
                      android:smallScreens="true"
                      android:normalScreens="true"
                      android:largeScreens="true"
                      android:anyDensity="true" />
        
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus" android:required="false"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
			android:name="SocketService"
		  	android:icon="@drawable/ic_launcher"
		  	android:label="socket_service" >
		</service> 
	
        <activity
            android:name="com.bitizen.counterswipe.LoginActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.bitizen.counterswipe.AvailableMatchesActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.NoTitleBar" />
        
        <activity
            android:name="com.bitizen.counterswipe.TeamSelectActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.NoTitleBar" />
        
        <activity
            android:name="com.bitizen.counterswipe.LobbyActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.NoTitleBar" />
        
        <activity
            android:name="com.bitizen.counterswipe.HostLobbyActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.NoTitleBar" />
        
     	<activity
            android:name="com.bitizen.counterswipe.ResultsActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" />
     	
     	<activity
            android:name="com.bitizen.camera.CSCameraActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
    
    </application>
</manifest>
